/* IMPORTS */
/* Fin des IMPORTS */

/**
* COLORS
**/
$cyan : #50D1E2;
$red: red;
$white: white;

body {
	background-color: $cyan;
	color: $white;

	.container {
		width: 70%;
		margin: 30px auto;
		border: $red;
	}

	.list-unstyled {
		list-style-type: none;
		padding-left: 0;
	}
}