.cont-activity-title{
  background-color: #81e0c9;
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;

}


.cont-activity-icon{
  display: flex;
  align-items:center;
  width: 40px;
  margin-right: 15px;
  margin-left: 10px;
}


.activity-icon{
  margin: auto;
  height: 40px;
  width: 40px;
  background-color: #81e0c9;

}

.activity-title{
  text-align:center;
  height: 70px;
  // background-color: #81e0c9;
  display: flex;
  margin-left: 15px;
  margin-right: 10px;
  align-items:center;
  font-size: 22px;
}

.activity {
  // display: flex;
  // flex-flow: column nowrap;
  
  width: 100%;

  .activity-headers {
    
    width: 100%;
    // display: flex;
    // flex-flow: row nowrap;

    h2{
      display: inline-block;
      float: left;
      color: white;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      /* Text style for "CONTACT" */
      letter-spacing: 1px;
      /* Text style for "S" */
      letter-spacing: 0.8px;
      }

    .column-header {
      text-align: center;
      cursor: pointer;
      font-weight: normal;
      padding: 10px 0;
      margin: 0;
      width: 50%;
    }

    .contact-header {
      background-color: #5b4370;
    }
    .ressource-header {
      background-color: #4c78a2;
    }
  }

  .activity-content {
    // display: flex;
    // flex-flow: row nowrap;
    width: 100%;

    .activity-column-left {
      display: inline-block;
      float: left;
      width: 50%;
      flex: 2 1 auto;
      height: 100%;
      font-size: 0;
      // display: flex;
      // flex-flow: column nowrap;
      // justify-content: flex-start;
      // align-items: flex-start;

      // it helps but I don't know why
    }

      .activity-link {
        text-decoration: none;
        color: white;
        display: inline-block;
        width: 100%;

      }

      .activity-column-right {
      display: inline-block;
      float: right;
      width: 50%;
      flex: 2 1 auto;
      height: 100%;
      font-size: 0;

    }

      .contact-card {
        font-size: 16px;
        cursor:pointer;
        display: flex;
        flex-flow: row nowrap;
        padding: 20px 40px;
        align-items: center;
        justify-content: flex-start;
        height: 150px;

        .img-activity-contact {
          display: block;
          border-radius: 50%;
          border-style: solid;
          border-color: white;
          height: 80px;
          width: 80px;
          min-width: 80px;
          margin-right: 20px;
          background-size: cover;
          background-repeat:no-repeat;
          background-position: center;

          // overflow: hidden;

        }

        .pastille-activity{
          position: relative;
          right: 40px;
          bottom: 30px;
          width: 15px;
          height: 15px;
          background-color: #e74937;
          border: 1px solid white;
          border-radius:50%;
        }

        .contact-info{


            p{
              margin: 0;

            }



              .container-alert-news{

                // display: flex;


              .text-news{
                font-size: 12px;
              }
            }
        }

      }

      .ressource-card {
        font-size: 16px;
        cursor:pointer;
        display: flex;
        flex-flow: row nowrap;
        padding: 20px 40px;
        align-items: center;
        justify-content: flex-start;
        height: 150px;

      .img-ressource{
        margin-right: 20px;
      }

      p{
            margin: 0;
          }

      }
    

  }

}

.ressource-card-1 {
  background-color: #3ab2c3;
}
.ressource-card-2 {
  background-color: #4279a9;
}
.ressource-card-3 {
  background-color: #3ba8b8;
}
.ressource-card-4 {
  background-color: #4a8cb2;
}


.ressource-card-1:hover {
  background-color: lighten(#3ab2c3, 8%);
}
.ressource-card-2:hover {
  background-color: lighten(#4279a9, 8%);
}
.ressource-card-3:hover {
  background-color: lighten(#3ba8b8, 8%);
}
.ressource-card-4:hover {
  background-color: lighten(#4a8cb2, 8%);
}



.contact-card-1 {
  background-color: #8770bd;
}
.contact-card-2 {
  background-color: #8a5495;
}
.contact-card-3 {
  background-color: #77549a;
}
.contact-card-4 {
  background-color: #49306B;
}



.contact-card-1:hover {
  background-color: lighten(#8770bd, 8%);
}
.contact-card-2:hover {
  background-color: lighten(#8a5495, 8%);
}
.contact-card-3:hover {
  background-color: lighten(#77549a, 8%);
}
.contact-card-4:hover {
  background-color: lighten(#49306B, 8%);
}

.news-icon{
            width: 68px;
            height: 17px;
            background-color: #f4984e;
            border-radius: 40px;
            font-size: 12px;
            text-align: center;
            font-style: italic;
            margin-top: 10px;

}

.cross{
  height: 30px;
  width: 30px;
  background: url(../images/chevron-left.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 700px) {
  .hide-content {
    display: none!important;
  }

  .activity-title{
    font-size: 18px;
  }

 .activity {

  .activity-headers {


    h2{
      font-size: 16px;

      }
  }
}
}
