/* IMPORTS */
/* Fin des IMPORTS */

/**
* COLORS
**/
$cyan : #50D1E2;
$white: white;

body {
	background-color: $cyan;
	color: $white;
	box-sizing:border-box;
	

	.container {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 0;
		padding-top: 30px;
		transition: margin-left 0.2s linear;

		
	}

	.container2 {
		
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 0;
		padding-top: 30px;
		transition: margin-left 0.2s linear;

		
	}


	.news-is-open{
		transition: margin-left 0.2s linear;
		margin-left: 8%;
	}

	.list-unstyled {
		list-style-type: none;
		padding-left: 0;
	}



@media screen and (max-width: 500px) {
	
	.container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

}
