<section class ="main-container" ng-controller="activityController as aCtrl">
	<div class="container" ng-class="{'news-is-open': show}">
		<ng-nav></ng-nav>
		<custom-searchbar suggestions="suggestions" model="userEntry" clicked="true" typeahead="typeahead()">
		</custom-searchbar>
		<div class="activity">
			<div class="activity-column">
				<h2 class="column-header contact-header"> Contacts </h2>
				<a class="activity-link" ng-repeat="contact in contacts track by $index" ng-href="#/contact/{{contact.id_contact}}">
					<div class="contact-card" ng-class="'contact-card-'+(($index%4)+1)">
						<div class="img-activity-contact"></div>
						<div class="pastille-activity"></div>
						<div class="contact-info">
							<p class="contact-name"> {{contact.first_name}} {{contact.last_name}} </p>
							<p> {{contact.job}} </p>
							<div ng-show="contact.is_new" class="container-alert-news">
								<div class = "news-icon">Nouveau</div>
								<p class="text-news">{{contact.label_new}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="activity-column">
				<h2 class="column-header ressource-header"> Liens Utiles </h2>
				<div class="ressource-card" ng-repeat="ressource in ressources track by $index" ng-class="'ressource-card-'+(($index%4)+1)">
					<i class="fa fa-book fa-3x img-ressource"></i>
					<div class="ressource-info">
						<p> {{ressource.title}}</p>
						<div ng-show="contact.is_new" class="container-alert-news">
								<div class = "news-icon">Nouveau</div>
								<p class="text-news">{{ressource.label_new}}</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-notification></ng-notification>
</section>
