<section class="main-container" ng-controller="contactController" >
	<div class="container" ng-class="{'news-is-open': show}">
		<ng-nav back="true"></ng-nav>
		<div class="container-infos" >
			<!-- <div class="pastille"></div> -->
			<div class="img-contact" ng-style="{'background-image': 'url('+getImage(contact.photo_id)+')'}"></div>
			<h1>{{contact.first_name}} {{contact.last_name}}</h1>
			<p>{{contact.job}}</p>
			<div class="container-contact-assets">
				<div class="container-main-assets">
					<a ng-href="tel:{{contact.phone}}" class="container-asset color-cont-one">
						<div class="generic-cont img-call"></div>
						<p>Appel</p>
					</a>
					<a ng-href="mailto:{{contact.email}}" class="container-asset color-cont-two">
						<div class="generic-cont img-mail"></div>
						<p>E-mail</p>
					</a>
				</div>
				<div class="container-main-assets">
					<div class="container-asset color-cont-three">
						<div class="generic-cont img-call-back"></div>
						<p class="text-callback">Être rappelé</p>
					</div>
					<a ng-href="xmpp://{{contact.bp_id}}@ibp.lan?message" class="container-asset color-cont-four">
						<div class="generic-cont img-chat"></div>
						<p class="text-chat">Chat</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<ng-notification></ng-notification>
</section>
