<section class="main-container" ng-controller="contactController" >
	<div class="container" ng-class="{'news-is-open': show}">
		<ng-nav></ng-nav>
		<div class="container-infos" >
			<!-- <div class="pastille"></div> -->
			<div class="img-contact" ng-style="{'background-image': 'url('+getImage(contacts.photo_id)+')'}"></div>
			<h1>{{contacts.first_name}} {{contacts.last_name}}</h1>
			<p>{{contacts.job}}</p>
			<div class="container-contact-assets">
				<div class="container-main-assets">
					<a href="tel:{{contacts.phone}}" class="container-asset color-cont-one">
						<div class="generic-cont img-call"></div>
						<p>Appel</p>
					</a>
					<a href="mailto:{{contacts.email}}" class="container-asset color-cont-two">
						<div class="generic-cont img-mail"></div>
						<p>E-mail</p>
					</a>
				</div>
				<div class="container-main-assets">
					<div class="container-asset color-cont-three">
						<div class="generic-cont img-call-back"></div>
						<p class="text-callback">Être rappelé</p>
					</div>
					<div class="container-asset color-cont-four">
						<div class="generic-cont img-chat"></div>
						<p class="text-chat">Chat</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-notification></ng-notification>
</section>
