<section class="main-container" ng-controller="homeController" >
	<div class="background-img"  ng-class="{'transparent-img': searchbarClicked}">
		<img src="assets/images/bp-blue.jpg">
	</div>
	<main class="container-home">
		<div class="container" ng-class="{'news-is-open': show && sizeSearch, 'container2': !sizeSearch && show}">
			<ng-nav></ng-nav>
			<div class="text-label" ng-class="{'text-search-delete': searchbarClicked}"> ENTREZ UNE ACTIVITÉ </div>
			<custom-searchbar class="searchbar-down" suggestions="suggestions" model="userEntry" clicked="searchbarClicked" home="true" ng-class="{'searchbar-centered-news-is-open': !show}" />
		</div>
	</main>
	<ng-notification></ng-notification>
</section>



<!-- <div ng-click="toggleSearchbarClicked()" class="searchbar" ng-class="{'slideInUp searchbar-centered': searchbarClicked, 'searchbar-down': !searchbarClicked }">
  <label ng-class="{'textSearchDelete': searchbarClicked}"> ENTREZ UNE ACTIVITÉ </label>
  <div class="container-input">
    <input type="text" id="search" ng-model="userEntry" ng-change="autocomplete()">
    <button></button>
  </div> -->

	<!-- <div class="autocomplete-panel" ng-show="userEntry.length > 0">
		<ul class="list-unstyled">
			<li ng-repeat="suggestion in data">
				{{suggestion}}
			</li>
		</ul>
	</div> -->
