<section class="main-container" ng-controller="search-errorController">
	<div class="container" ng-class="{'news-is-open': show}">
		<ng-nav></ng-nav>
		<h1>{{test}}</h1>
		<custom-searchbar class="" suggestions="suggestions" model="userEntry" clicked="true" typeahead="typeahead()">
		</custom-searchbar>

		<div class="container-error" ng-show="buttonSearchClicked" ng-class="{'horiz-translate': buttonSearchClicked}">
			<div class="warning-img"></div>
			<p class="text-error">Aucune thématique ne correspond aux termes de la recherche spécifiés. Vous pouvez contacter Rives Assistance au 01 73 07 55 55</p>
		</div>
	</div>
	<ng-notification></ng-notification>
</section>
