.container-nav{
	width: 100%;
	display:flex ;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	position: relative;
	margin-bottom: 50px;

	h1 {
		height: 55px;
		font-size: 34px;
		margin: 0;
		margin-top: 15px;
		a, a:hover, a:visited {
			text-decoration: none;
			color: white;
		}
	}

	.bell{
		z-index: 998;
		background: url(../images/bell.png) no-repeat center;
		background-size: cover;
		height: 30px;
		width: 30px;
	
	}

	.container-bell:hover{
		background-color: lighten(#84d6ea, 5%);
	}

	.container-bell{
		align-items:center;
		justify-content:space-around;
		display: flex;
		border:solid white 1px;
		padding-left: 10px;
		padding-right: 10px;
		cursor:pointer;

		p{
			margin-right: 10px;
			font-size: 1em;
			font-weight: bold;

		}

		.notif-pastille{
			display: flex;
			align-items:center;
			justify-content:center;
			z-index: 1000;
			text-align: center;
			position: absolute;
			right: 10px;
			width: 20px;
			height: 20px;
			background-color: #eb5269;
			border-radius: 40px;
			font-size: 12px;


		}
	}


}

.container-bell-hidden{
		display: none !important;
	}


@media screen and (max-width: 500px) {
	
	.container-nav {

		margin-bottom: 30px;
		justify-content: space-around;



		h1{
			font-size: 24px;


			}

		.bell{
		height: 20px;
		width: 20px;
	
		}
		
		.container-bell{
			
			margin-bottom: 15px;
			
			p{
				font-size: 0.6em;
			}

			.notif-pastille{
				margin-right: 10px;
				position: relative;
				width: 13px;
				height: 13px;
				left: 0;
				bottom:0;
				text-align: center;
				font-size: 9px;
				font-weight: 700;
				letter-spacing: 1.4px;
				line-height: 19px;

			}
		}
	}
}