<section class="main-container" ng-controller="contactController" >
	<div class="container">
		<nav>
			<h1>BPLink</h1>
			<div class="notif-pastille">3</div>
			<i class="fa fa-bell-o fa-2x icon-menu"></i>
		</nav>
		<div class="container-infos" >
			<div class="pastille"></div>
			<div class="img-contact"></div>
			<h1>{{contacts.first_name}} {{contacts.last_name}}</h1>
			<p>{{contacts.job}}</p>
			<div class="container-contact-assets">
				<div class="container-main-assets">
					<div class="container-asset color-cont-one">
						<div class="generic-cont img-call"></div>
						<p>Appel</p>
					</div>
					<div class="container-asset color-cont-two">
						<div class="generic-cont img-mail"></div>
						<p>E-mail</p>
					</div>
				</div>
				<div class="container-main-assets">
					<div class="container-asset color-cont-three">
						<div class="generic-cont img-call-back"></div>
						<p>Être rappelé</p>
					</div>
					<div class="container-asset color-cont-four">
						<div class="generic-cont img-chat"></div>
						<p>Chat</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
