<section class="main-container" ng-controller="homeController" >
	<div class="container">
		<nav>
			<h1>BPLink</h1>
			<i class="fa fa-bell-o fa-2x icon-menu"></i>
		</nav>
		<div class="container-infos">
			<div class="pastille"></div>
			<div class="img-contact"></div>
			<h1>ANNE C</h1>
			<p>EXEPERTE en fraude</p>
			<div class="container-contact-assets">
				<div class="container-main-assets">
					<div class="container-asset color-cont-one">
						<div class="generic-cont img-call"></div>
						<p>Appel</p>
					</div>
					<div class="container-asset color-cont-two">
						<div class="generic-cont img-mail"></div>
						<p>E-mail</p>
					</div>
				</div>
				<div class="container-main-assets">
					<div class="container-asset color-cont-three">
						<div class="generic-cont img-call-back"></div>
						<p>Être rappelé</p>
					</div>
					<div class="container-asset color-cont-four">
						<div class="generic-cont img-chat"></div>
						<p>Chat</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>