.text-label{
				margin-top: 300px;
				width: 100px;
				font-size: 44px;
			}


.text-search-delete{
	animation: reduce-height;
	animation-iteration-count: 1;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes reduce-height {
    from {height: 100px;width:100px;opacity: 1;margin-top: 300px;}
    to {height: 0px;width:800px;opacity: 0;margin-top: 50px;}
}

@keyframes reduce-height {
    from {height: 100px;width:100px;opacity: 1;margin-top: 300px;}
    to {height: 0px;width:800px;opacity: 0;margin-top: 50px;}
}

