.card {
	color: white;
	font-size: 16px;
	margin-top: auto;
}

// links

.activity-link {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 33.33%;
	height: 100%;
	flex: 3 1 auto;
}

.activity-link-sec {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	flex: 3 1 auto;
}
// important cards

.card-big {
	height: 375px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	.card-content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.card-big-first {
	background-color: #4ac9c5;
}
.card-big-second {
	background-color: #81e0c9;
}
.card-big-third {
	background-color: #43b3b0;
}
// row of important cards

.cards-row {
	display: flex;
	flex-flow: row nowrap;
}

// secondary cards

.card-small {
	width: 100%;

	.card-content {
		display: flex;
		flex-flow: row nowrap;

		align-items: center;
		margin-left: 25%;
		margin-right: 25%;
		text-align: right;

		i {
			margin-right: 8.33%;
		}
	}
}

.card-small-1 {
	background-color: #65cab2;
}
.card-small-2 {
	background-color: #43b3b0;
}
.card-small-3 {
	background-color: #339591;
}
.card-small-4 {
	background-color: #72d4aa;
}
//column of secondary cards
.cards-column {
	background-color: #267774;
}

@media screen and (max-width: 500px) {

	.card-big {
	height: 150px;

	}

}
