.card {
	color: white;
	font-size: 16px;
	margin-top: auto;
}

// links

.activity-link {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 33.33%;
	height: 100%;
	flex: 3 1 auto;
}

.activity-link-sec {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	flex: 3 1 auto;
}
// important cards

.card-big {
	height: 375px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	.card-content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;

		margin: 5%;
		
		.service-icon{
			height: 80px;
			width: 80px;
		}

		p {
			
			font-size: 24px;
			width: 75%;
		}
	}
}

.card-big-first {
	background-color: #4ac9c5;
}
.card-big-second {
	background-color: #81e0c9;
}
.card-big-third {
	background-color: #43b3b0;
}

.card-big-first:hover {
	background-color: lighten(#4ac9c5, 8%);
}
.card-big-second:hover {
	background-color: lighten(#81e0c9, 8%);
}
.card-big-third:hover {
	background-color: lighten(#43b3b0, 8%);
}
// row of important cards

.cards-row {
	display: flex;
	flex-flow: row nowrap;
}

// secondary cards

.card-small {
	// width: 100%;
	display: flex;
	// justify-content: center;

	.card-content {
		// width: 100%;
		display: flex;
		flex-flow: row nowrap;
		height: 70px;
		align-items: center;
		// justify-content: center;
		margin-left: 33.33%;
		// text-align: center;

		i {
			margin-right: 20px;
		}
	}
}

.card-small-1 {
	background-color: #65cab2;
}
.card-small-2 {
	background-color: #43b3b0;
}
.card-small-3 {
	background-color: #339591;
}
.card-small-4 {
	background-color: #72d4aa;
}
//column of secondary cards
.cards-column {
	background-color: #267774;
}

@media screen and (max-width: 500px) {

	.card-big {
	height: 170px;

	}

.card-big{

	.card-content{


	.service-icon{
			height: 50px;
			width: 50px;
		}

		p {
			
			font-size: 18px;
			width: 75%;
		}
	}
}
}
