<nav class="container-nav">
	<a class="cross" ng-if='back' ng-click="goBack()"></a>
	<div class="container-meteo" ng-mouseover="meteo=true" ng-mouseout="meteo = false">
		<div class="meteo">
			<div class="temp"></div>
			<h3>MÉTÉO</h3>
		</div>

		<div class="meteo-panel" ng-show="meteo">
			<div class="chevron-top"></div>
			<div class="cont-meteo-global">
				<div class="aden-sun"></div>
				<p class="meteo-global">
				ADEN : Injection à <br> J+2 au lieu de J+1
				</p>
			</div>
			<a href="#/meteo" class="meteo-link">
				<p>
					Voir la météo des services
				</p>
			</a>
		</div>

	</div>
	<h1><a href="/#/">BPLink</a></h1>
	<div class="container-bell" ng-class="{'container-bell-hidden': show}" ng-click="toggleNews()" cursor="hand">
		<p>NOUVEAUTÉS</p>
		<div class="bell">
			<div class="notif-pastille" >{{countNews}}</div></div>
	</div>
</nav>
