<div class="searchbar" ng-class="{'searchbar-centered': clicked, 'searchbar-down': !clicked }">
  
  <div class="container-input">
    <input type="text" id="search" ng-model="model" ng-click="clicked = true" ng-keydown="selected=false" ng-change="typeahead()">
    <button class="button-search" ng-click="error()"  ></button>
  </div>

  <div class="autocomplete-panel" ng-hide="!model.length || selected">
		<ul class="list-unstyled">
			<li ng-repeat="suggestion in suggestions track by $index" ng-click="onSelect(suggestion)" ng-class="{'autocomplete-list': isCurrent(index)}" ng-mouseenter="setCurrent(index)">
				{{suggestion}}
			</li>
		</ul>
	</div>
	<div class="container-error" ng-show="buttonSearchClicked" ng-class="{'horiz-translate' : buttonSearchClicked}">
		<div class="warning-img"></div>
		<p class="text-error">Aucune thématique ne correspond aux termes de la recherche spécifiés</p>
	</div>
</div>
