<div class="searchbar" ng-class="{'searchbar-centered': clicked, 'searchbar-down': !clicked }">

  <div class="container-input">
    <input type="text" id="search" list="advice" ng-model="model" ng-click="inputClick($event)" ng-keydown="selected=false" ng-change="typeahead()" ng-keyup="keyHandler($event)">
    <button class="button-search" ng-click="error()"  ></button>
  </div>


  <!-- <datalist id="advice" class="autocomplete-panel" ng-hide="!model.length || selected">
    <option ng-repeat="suggestion in suggestions track by $index" ng-click="onSelect(suggestion)" ng-class="{'autocomplete-list': isCurrent($index)}" ng-mouseenter="setCurrent(index)">
      <div>
        {{suggestion}}
      </div>
    </option>
  </datalist> -->
  <div class="autocomplete-panel" ng-hide="!model.length || selected">
		<ul class="list-unstyled">
      <li ng-repeat="keyword in keywords |filter:model |unique:keyword.word track by $index" ng-click="onSelect(keyword)" ng-class="{'autocomplete-list': isCurrent($index)}" ng-mouseenter="setCurrent($index)">
				{{keyword.word}}
			</li>
			<!-- OLD SCHOOL
      <li ng-repeat="suggestion in suggestions | unique:suggestion track by $index" ng-click="onSelect(suggestion)" ng-class="{'autocomplete-list': isCurrent($index)}" ng-mouseenter="setCurrent($index)">
				{{suggestion}}
			</li> -->
		</ul>
	</div>
</div>
