// GENERIC
.main-container{



	.background-img{
		position: relative;
		height: 100vh;
		width: 100vw;
		-webkit-transition: opacity 1s ease-in-out;
  		-moz-transition: opacity 1s ease-in-out;
  		-o-transition: opacity 1s ease-in-out;
  		transition: opacity 1s ease-in-out;

  		img {
  			width: 100%;
  			height: 100%;
  		}
	}

	.container-home{
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;

	}

		.searchbar {
			display: flex;
			flex-direction: column;
			font-size: 25px;


			.container-input{
				display: flex;
				flex-direction:row;



				.button-search{
					cursor:pointer;
					height: 72px;
					width: 80px;
					border:none;
					background: url(../images/search-icon.png) no-repeat center;
					background-color: #de586c;


				}

				button:focus {
					outline: none;
				}

				input{
					color: #4a7ab2;
					border: none;
					height: 70px;
					width: 100%;
					padding-left: 50px;
				}

				input:focus {
					outline: none;
				}
			}
	}

		.autocomplete-panel {
			background-color: white;
			color: #4a7ab2;
			margin-top: 1px;
			width: 100%;

			box-sizing: border-box;

			li {
				padding-left: 50px;
				padding-top: 10px;
				padding-bottom: 10px;
				cursor: pointer;
			}
			.autocomplete-list{
				background-color: #f0f0f5;
			}

		}
}

// When the search is active

.searchbar-centered{

	width: 100%;
	transition: 1.5s;

}



// When you land on the homepage

.searchbar-down {
	width: 40%;


}


// Disparition label searchbar with transition


// .text-search-delete{
// 	animation: reduce-height;
// 	animation-iteration-count: 1;
//     animation-duration: 1.5s;
// 	animation-fill-mode: forwards;
// }



// @-webkit-keyframes reduce-height {
//     from {height: 100px;width:100px;opacity: 1;font-size: 44px;}
//     to {height: 0px;width:800px;opacity: 0;font-size: 34px;}
// }

// @keyframes reduce-height {
//     from {height: 100px;width:100px;opacity: 1;font-size: 44px;}
//     to {height: 0px;width:800px;opacity: 0;font-size: 34px;}
// }

// Disparition label searchbar display none



// Disparition img

.transparent-img{
	opacity: 0;

}

// Stop animation !home

// .stop-animation-search{
// 	display: none;

// }


// Search error

.container-error{
	position: absolute;
	left: -1000px;
	// display: none;
	display: flex;
	justify-content:center;
	margin-top: 100px;
	height: 100px;
	width: 100%;

}

	.warning-img{
		margin-right: 10px;
		margin-left: 5px;
		background: url(../images/warning.png) no-repeat center;
		background-size: cover;
		height: 100px;
		width: 100px;
	}


	.text-error{
		width: 30%;
		margin-right: 5px;
		margin-left: 10px;
	}


	// .container-error

	.horiz-translate {
 		 -webkit-transition: 1.2s cubic-bezier(.87,-.41,.19,1.44);
  		-moz-transition: 1.2s cubic-bezier(.87,-.41,.19,1.44);
  		-ms-transition: 1.2s cubic-bezier(.87,-.41,.19,1.44);
  		-o-transition: 1.2s cubic-bezier(.87,-.41,.19,1.44);
  		transition: 1.2s cubic-bezier(.87,-.41,.19,1.44);

  		left: 0 !important;
	}

	.margin-custom-searchbar{
		margin-bottom: 50px;
	}
